set mysql_slow_query_warning 200

# set mysql_connection_string "mysql://rorp:Anniv@1309day@localhost/rorp_db?charset=utf8mb4"
set mysql_connection_string "server=localhost;uid=rorp;password=Anniv@1309day;database=rorp_db"

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

exec permissions.cfg

##########
# DEAULT #
##########
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure baseevents

#############
# ESSENTIAL #
#############
ensure mysql-async
ensure async
ensure fivem-ipl
ensure cron
ensure extendedmode
ensure skinchanger
ensure rorp_core-skin
ensure rorp_core-clothes
ensure rorp_character
ensure mix_loadingscreen
ensure vMenu
ensure ft_libs
ensure chat

##############
# OPERATIONS #
##############
ensure rorp_vipservice
ensure esx_identity
ensure esx_status
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_society
ensure esx_datastore
ensure esx_billing
ensure esx_service
ensure rorp_daftarwarga
ensure esx_license
ensure LegacyFuel
ensure Serverlogging
######
# UI #
######
ensure NativeUI
ensure postalmap
ensure esx_scoreboard
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog
ensure trew_hud_ui
ensure radialmenu
ensure pNotify
ensure mythic_progressbar
ensure mythic_notify
ensure mythic_progbar
ensure progressBars
ensure esx_inventoryhud
ensure esx_inventoryhud_trunk
ensure ShowID


#########
# NEEDS #
#########
ensure esx_basicneeds
ensure esx_optionalneeds

#########
# PHONE #
#########
ensure esx_addons_gcphone
ensure gcphone

########
# JOBS #
########
ensure esx_joblisting
ensure esx_jobs
ensure esx_ambulancejob
ensure esx_policejob
ensure rorp_bennys
ensure rorp_supirbis
ensure rorp_pedagang
ensure rorp_petani_k
ensure rorp_miner
ensure t1ger_cardealer

#########
# SHOPS #
#########
ensure new_banking
ensure esx_dmvschool
ensure rorp_barbershop


###########
# ILLEGAL #
###########
ensure mhacking
ensure esx_outlawalert
ensure esx_illegal
ensure esx_holdup
ensure esx_atmRobbery
ensure territories
ensure progbars

#########
# RUMAH #
#########
#ensure esx_property
ensure motels

############
# INTERIOR #
############
ensure interiorproxy
ensure pillbox_hospital
ensure MRPD
ensure BENNYS
ensure bmc
ensure mythic_interiors


##########
# GARASI #
##########
ensure esx_jb_eden_garage2

###########
# RENTALS #
###########
ensure rorp_boat-rental
ensure esx_bike-rental

##################
# CUSTOM SCRIPTS #
##################
ensure crpi_angkattangan
ensure crpi_disable
ensure fingerpoint
ensure jongkok
ensure poor-npc
ensure trafficcontrol
ensure dpemotes
ensure jsfour-idcard
ensure 3dme
ensure nocross
ensure real-veh
ensure pushincar
ensure esx_marker
ensure HandT
ensure esx_doorlock
ensure dpclothing
ensure carremote
ensure SmartTrafficLights
ensure esx_HolsterWeapon
ensure CarryPeople
ensure TakeHostage
ensure hrp_pd_impound
ensure meta_libs
ensure skeletalsystem
ensure simpledrift
ensure BetterRecoil
ensure esx_jail
ensure afkkick
ensure pingkick
ensure NoDriveBy
ensure no-car-jack
ensure deathUI
ensure slashk
ensure pillbox_beds
ensure solokick
ensure nohelmet
ensure rorp_menuanimasi
ensure redzone
start Serverlogging

#######
# EUP #
#######
ensure rorp_fashion


###################
# ADDONS VEHICLES #
###################



#////////////////////////
# KENDARAAN RORP
#////////////////////////
ensure ambulance-rorp # ambulance
ensure ambulance_m # r1200rtp
ensure EMS

#////////////////////////
# AMC
#////////////////////////
ensure amc-javelin # amcj


#////////////////////////
# ASTON MARTIN
#////////////////////////
ensure astonmartin-vulcan # vulcanpro19
ensure astonmartin-vant # vantage


#////////////////////////
# AUDI
#////////////////////////


#////////////////////////
# BENEFACTOR
#////////////////////////
ensure benefactor-schnell # schnell


#////////////////////////
# BMW
#////////////////////////
ensure bmw-m8 # bmwm8
ensure bmw-x6m # x6m *WARNA VARIASI KURANG
ensure bmw-m5f90 # bmci
ensure bmw-s1000rr # bmws


#////////////////////////
# BUGATTI
#////////////////////////
ensure bugatti-chiron # chiron


#////////////////////////
# CADILLAC
#////////////////////////
ensure cadillacescalade-gmt900 # gmt900escalade *WARNA VARIASI KURANG

#////////////////////////
# CHEVROLET
#////////////////////////
ensure chevrolet-1957 # BELAIR57
ensure chevrolet-suburban # subn *WARNA VARIASI KURANG
ensure chevrolet-camarozl1 # 2018zl1


#////////////////////////
# CHRYSLER
#////////////////////////


#////////////////////////
# FERRARI
#////////////////////////
ensure ferrari-488novitech # 488nlargo


#////////////////////////
# FIAT
#////////////////////////
ensure fiat-600 # fiat600


#////////////////////////
# HONDA
#////////////////////////
ensure honda-crf450r # crf450r


#////////////////////////
# IZH
#////////////////////////
ensure izh-planeta # izhplaneta


#////////////////////////
# JAGUAR
#////////////////////////


#////////////////////////
# KTM
#////////////////////////
ensure ktm-exc # exc530sm *NERF


#////////////////////////
# LAMBORGHINI
#////////////////////////
ensure lamborghini-urus # urus
ensure lamborghini-murcielagolp670sv # lp670sv
ensure lamborghini-huracan # huracanst
ensure lamborghini-aventador # lp700


#////////////////////////
# MERCEDES BENZ
#////////////////////////
ensure mercedesbenz-gtrc # amggtc
ensure amgt3 #amggt3

#////////////////////////
# PORSCHE
#////////////////////////
ensure porsche-968 # 968

#////////////////////////
# RANGE ROVER
#////////////////////////


#////////////////////////
# TOYOTA
#////////////////////////
ensure toyota-j40landcruiser # fj40


#////////////////////////
# VAPID
#////////////////////////


#////////////////////////
# VOLKSWAGEN
#////////////////////////


#////////////////////////
# YAMAHA
#////////////////////////
ensure yamaha-yzfr25 # r3
ensure yamaha-yzfr1 # r1


# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay, indonesia"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "^1RORP, ^5but unconfigured"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
sv_master1 ""

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 64

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled true

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey 66C4CAD0F186D0D594262FA20DCABC54

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey 7z1snk2dtn2a0tvtafx82hxn8lczy1iy
