set mysql_slow_query_warning 200

# set mysql_connection_string "mysql://rorp:Anniv@1309day@localhost/rorp_db?charset=utf8mb4"
set mysql_connection_string "server=localhost;uid=rorp;password=Anniv@1309day;database=rorp_db"

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

setr ea_LanguageName "en"                # set our language to english
setr ea_MenuButton "212"			# set our menu button to F2. default: "289"
setr ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it
set ea_enableCallAdminCommand "true" # enables "calladmin" command via webhook
set ea_enableReportCommand "true" # enables "report" command, see Configuration Wiki Page for More infos
add_ace group.admin easyadmin allow
add_ace group.superadmin easyadmin allow

add_ace group.restart restart.cmds allow
add_principal identifier.steam:11000011b5c6478 group.restart
add_principal identifier.steam:1100001195116ca group.restart

##########
# DEAULT #
##########
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure baseevents

#############
# ESSENTIAL #
#############
add_principal group.admin group.user
add_ace resource.extendedmode command.add_ace allow
add_ace resource.extendedmode command.add_principal allow
add_ace resource.extendedmode command.remove_principal allow

ensure mysql-async
ensure async
ensure fivem-ipl
ensure cron
ensure extendedmode
ensure skinchanger
ensure rtx_savecore
ensure rtx_core
ensure rtx_core2
ensure rtx_selection
ensure mix_loadingscreen

##############
# OPERATIONS #
##############
ensure esx_identity
ensure esx_status
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_society
ensure esx_datastore
ensure esx_billing
ensure esx_service
ensure rorp_vipservice
ensure rorp_daftarwarga
ensure esx_license
ensure LegacyFuel

######
# UI #
######
ensure NativeUI
ensure postalmap
ensure esx_scoreboard
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog
ensure trew_hud_ui
ensure radialmenu
ensure pNotify
ensure mythic_progressbar
ensure mythic_notify
ensure mythic_progbar
ensure mythic_interiors
ensure progressBars
ensure rtx_ammo
ensure esx_inventoryhud
ensure esx_inventoryhud_trunk
ensure ShowID

########
# PEDS #
########

#########
# NEEDS #
#########
ensure esx_basicneeds
ensure esx_optionalneeds
ensure esx_addons_gcphone
ensure gcphone

########
# JOBS #
########
ensure esx_joblisting
ensure esx_jobs
ensure esx_ambulancejob
ensure esx_policejob
# ensure esx_lscustom
ensure rtx_bennys
ensure t1ger_cardealer
ensure rorp_supirbis
ensure rorp_pedagang


#########
# SHOPS #
#########
ensure new_banking
#ensure esx_weaponshop
#ensure esx_boat
ensure esx_dmvschool
ensure rtx_clotheshops
ensure rtx_barbershops
ensure rtx_accessories


###########
# ILLEGAL #
###########
ensure mhacking
ensure esx_outlawalert
ensure esx_illegal
ensure esx_holdup
ensure esx_atmRobbery
ensure territories
ensure progbars

##################
# RUMAH/INTERIOR #
##################
#ensure esx_property
#ensure rtx_property
ensure rtx_makeup
ensure pillbox_hospital
ensure shelbys_paletohomes
ensure P_PD
ensure paletopd
ensure MRPD
ensure sandy
ensure missionrowapartment
ensure BENNYS
ensure motels
ensure bmc


##########
# GARASI #
##########
ensure ft_libs
ensure esx_jb_eden_garage2
ensure rorp_GarasiEms

###########
# RENTALS #
###########
ensure rorp_boat-rental
ensure esx_bike-rental

##################
# CUSTOM SCRIPTS #
##################
ensure EasyAdmin
ensure crpi_angkattangan
ensure crpi_disable
ensure distrtc
ensure fingerpoint
ensure jongkok
ensure poor-npc
ensure trafficcontrol
ensure dpemotes
ensure jsfour-idcard
ensure 3dme
ensure vSync
ensure nocross
ensure real-veh
ensure pushincar
ensure esx_marker
ensure HandT
ensure esx_doorlock
ensure dpclothing
ensure carremote
ensure SmartTrafficLights
ensure esx_HolsterWeapon
ensure CarryPeople
ensure TakeHostage
ensure hrp_pd_impound
ensure meta_libs
ensure skeletalsystem
ensure simpledrift
ensure kick_restart
ensure BetterRecoil
ensure esx_jail
ensure afkkick
ensure pingkick
ensure NoDriveBy
ensure no-car-jack
ensure announce
ensure aoi_layarmati
ensure slashk
ensure StreetRaces
ensure pillbox_beds

###################
# ADDONS VEHICLES #
###################

#////////////////////////
# KENDARAAN RORP
#////////////////////////
ensure ambulance-rorp # ambulance
ensure ambulance_m # r1200rtp
ensure EMS

#////////////////////////
# AMC
#////////////////////////
ensure amc-javelin # amcj


#////////////////////////
# ASTON MARTIN
#////////////////////////
ensure astonmartin-vulcan # vulcanpro19
ensure astonmartin-vant # vantage


#////////////////////////
# AUDI
#////////////////////////


#////////////////////////
# BENEFACTOR
#////////////////////////
ensure benefactor-schnell # schnell


#////////////////////////
# BMW
#////////////////////////
ensure bmw-m8 # bmwm8
ensure bmw-x6m # x6m *WARNA VARIASI KURANG
ensure bmw-m5f90 # bmci
ensure bmw-s1000rr # bmws


#////////////////////////
# BUGATTI
#////////////////////////
ensure bugatti-chiron # chiron


#////////////////////////
# CADILLAC
#////////////////////////
ensure cadillacescalade-gmt900 # gmt900escalade *WARNA VARIASI KURANG

#////////////////////////
# CHEVROLET
#////////////////////////
ensure chevrolet-1957 # BELAIR57
ensure chevrolet-suburban # subn *WARNA VARIASI KURANG
ensure chevrolet-camarozl1 # 2018zl1


#////////////////////////
# CHRYSLER
#////////////////////////


#////////////////////////
# FERRARI
#////////////////////////
ensure ferrari-488novitech # 488nlargo


#////////////////////////
# FIAT
#////////////////////////
ensure fiat-600 # fiat600


#////////////////////////
# HONDA
#////////////////////////
ensure honda-crf450r # crf450r


#////////////////////////
# IZH
#////////////////////////
ensure izh-planeta # izhplaneta


#////////////////////////
# JAGUAR
#////////////////////////


#////////////////////////
# KTM
#////////////////////////
ensure ktm-exc # exc530sm *NERF


#////////////////////////
# LAMBORGHINI
#////////////////////////
ensure lamborghini-urus # urus
ensure lamborghini-murcielagolp670sv # lp670sv
ensure lamborghini-huracan # huracanst
ensure lamborghini-aventador # lp700


#////////////////////////
# MERCEDES BENZ
#////////////////////////
ensure mercedesbenz-gtrc # amggtc


#////////////////////////
# PORSCHE
#////////////////////////
ensure porsche-968 # 968

#////////////////////////
# RANGE ROVER
#////////////////////////


#////////////////////////
# TOYOTA
#////////////////////////
ensure toyota-j40landcruiser # fj40


#////////////////////////
# VAPID
#////////////////////////


#////////////////////////
# VOLKSWAGEN
#////////////////////////


#////////////////////////
# YAMAHA
#////////////////////////
ensure yamaha-yzfr25 # r3
ensure yamaha-yzfr1 # r1


# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay, indonesia"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "^1RORP, ^5but unconfigured"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace group.superadmin command allow # allow all commands
add_ace group.superadmin command.quit deny # but don't allow quit
add_principal identifier.steam:11000011b5c6478 group.superadmin # add the admin to the group
add_principal identifier.steam:1100001335ede0c group.superadmin
add_principal identifier.steam:110000132fce4a6 group.superadmin
add_principal identifier.steam:110000109ef4be1 group.superadmin
add_principal identifier.steam:1100001142a1af9 group.superadmin
add_principal identifier.steam:1100001195116ca group.superadmin
add_principal identifier.steam:11000013470f3d5 group.superadmin
add_principal identifier.steam:1100001179201b7 group.superadmin

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 64

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled true

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey 66C4CAD0F186D0D594262FA20DCABC54

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey y81bg5bayh2faf77ebi7y9c5uz3or5tr
