html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#cursor {
	position: absolute;
	z-index: 999999;
	display: none;
}

#givekeys {
	background-repeat: no-repeat;
	font-weight: 400;
	font-size: 12px;
	width: 170px;
	height: 60px;
	color: #212121;
	position: absolute;
	right: 55px;
	bottom: 15px;
	overflow: hidden;
	cursor: default;
	display: none;
}

.button {
	position: relative;
	background-color: #2F2F2F;
	border: none;
	font-size: 15px;
	color: #FFFFFF;
	width: 170px;
	height: 30px;
	text-align: center;
	vertical-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: default;
	border: 2px solid black;
}
  
.button:after {
	content: "";
	background: #595959;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px!important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
}
  
.button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}

#keyfob {
	background-image: url(../images/keyfob_viper.png);
	background-repeat: no-repeat;
	font-weight: 400;
	font-size: 12px;
	width: 200px;
	height: 350px;
	color: #212121;
	position: absolute;
	right: 40px;
	bottom: 80px;
	overflow: hidden;
	cursor: default;
	display: none;
}

#screen {
	position: absolute;
	display: grid;
	grid-gap: 5px;
	grid-auto-columns: 24px;
	grid-auto-rows: 24px;
	margin: 6px;
	width: 121px;
	height: 122px;
	top: 100px;
	left: 39px;
	overflow: hidden;
	cursor: default;
}

#buttonLock {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	width: 64px;
	height: 45px;
	top: 236px;
	left: 35px;
}

#buttonLock:focus {outline:0 !important;}

#buttonUnlock {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	width: 64px;
	height: 45px;
	top: 236px;
	left: 99px;
}
#buttonUnlock:focus {outline:0 !important;}

#buttonAux {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	width: 64px;
	height: 45px;
	top: 281px;
	left: 35px;
}

#buttonAux:focus {outline:0 !important;}


#buttonStart {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	width: 64px;
	height: 45px;
	top: 281px;
	left: 99px;
}

#buttonStart:focus {outline:0 !important;}


.icon {
	width: 100%;
	height: 100%;
}

#battery {
	grid-row: 1;
	grid-column: 4;
}
#connectionStatus {
	grid-row: 1;
	grid-column: 1;
}
#engineStatus {
	grid-row: 1;
	grid-column: 3;
}
#lockedStatus {
	grid-row: 1;
	grid-column: 2;
}

#battery-0 {
	display: none;
}
#battery-10 {
	display: none;
}
#battery-20 {
	display: none;
}
#battery-30 {
	display: none;
}
#battery-40 {
	display: none;
}
#battery-50 {
	display: none;
}
#battery-60 {
	display: none;
}
#battery-70 {
	display: none;
}
#battery-80 {
	display: none;
}
#battery-90 {
	display: none;
}
#battery-100 {
	display: none;
}

#carConnected {
	display: none;
}
#carDisconnected {
	display: block;
}

#engineOn {
	display: none;
}
#engineOff {
	display: block;
}

#locked {
	display: none;
}
#unlocked {
	display: block;
}