html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#cursor {
	position: absolute;
	z-index: 999999;
	display: none;
}

#console {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 320px;
	height: 250px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

#keyfob {
	background-image: url(../images/keyfob_viper.png);
	background-repeat: no-repeat;
	font-weight: 400;
	font-size: 12px;
	width: 200px;
	height: 350px;
	color: #212121;
	position: absolute;
	right: 40px;
	bottom: 0px;
	overflow: hidden;
	cursor: default;
	display: none;
}

#screen {
	position: absolute;
	display: grid;
	grid-gap: 5px;
	grid-auto-columns: 24px;
	grid-auto-rows: 24px;
	margin: 6px;
	width: 121px;
	height: 122px;
	top: 100px;
	left: 39px;
	overflow: hidden;
	cursor: default;
}

#buttonLock {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	width: 64px;
	height: 45px;
	top: 236px;
	left: 35px;
}

#buttonLock:focus {outline:0 !important;}

#buttonUnlock {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	width: 64px;
	height: 45px;
	top: 236px;
	left: 99px;
}
#buttonUnlock:focus {outline:0 !important;}

#buttonAux {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	width: 64px;
	height: 45px;
	top: 281px;
	left: 35px;
}

#buttonAux:focus {outline:0 !important;}


#buttonStart {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	width: 64px;
	height: 45px;
	top: 281px;
	left: 99px;
}

#buttonStart:focus {outline:0 !important;}


.icon {
	width: 100%;
	height: 100%;
}

#battery {
	grid-row: 1;
	grid-column: 4;
}
#connectionStatus {
	grid-row: 1;
	grid-column: 1;
}
#engineStatus {
	grid-row: 1;
	grid-column: 3;
}
#lockedStatus {
	grid-row: 1;
	grid-column: 2;
}

#battery-0 {
	display: none;
}
#battery-10 {
	display: none;
}
#battery-20 {
	display: none;
}
#battery-30 {
	display: none;
}
#battery-40 {
	display: none;
}
#battery-50 {
	display: none;
}
#battery-60 {
	display: none;
}
#battery-70 {
	display: none;
}
#battery-80 {
	display: none;
}
#battery-90 {
	display: none;
}
#battery-100 {
	display: none;
}

#carConnected {
	display: none;
}
#carDisconnected {
	display: block;
}

#engineOn {
	display: none;
}
#engineOff {
	display: block;
}

#locked {
	display: none;
}
#unlocked {
	display: block;
}