@font-face {
  font-family: BebasNeueBold;
  src: url(BebasNeueBold.ttf);
}

.col {
	color: #fff;
}

.text-muted {
	color: #fff!important;
	font-family: BebasNeueBold;
}

.btn-success {
    background-color: #66edff;
    border-color: #66edff;
    user-select: none;
	font-family: BebasNeueBold;
    border-radius: 0px;
    cursor: default;
}

.btn-success:hover {
	color: #fff;
	background-color: #66edff;
	font-family: BebasNeueBold;
	border-color: #66edff;
}

.btn-success:disabled {
	color: #fff;
	background-color: #66edff;
	font-family: BebasNeueBold;
	border-color: #66edff;
}

button#savebtn:active {
    color: #fff;
	background: #66edff;
	font-family: BebasNeueBold;
	cursor: default;
}

button#savebtn:focus {
    color: #fff;
	background: #66edff;
	font-family: BebasNeueBold;
	cursor: default;
}

button#defaultbtn:active {
    color: #fff;
    background-color: #66edff;
	font-family: BebasNeueBold;
}

button#defaultbtn:focus {
    background-color: #66edff;
	font-family: BebasNeueBold;
    color: #fff;
}

.ui-widget-content {
	border: 1px solid;
	border-color: #fff;
	background-color: #66edff;
	font-family: BebasNeueBold;
	background: none;
	user-select: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #fff;
	font-family: BebasNeueBold;
	user-select: none;
}

.ui-slider .ui-slider-handle:active {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	font-family: BebasNeueBold;
	cursor: default;
	background: #66edff;
	user-select: none;
}

.slider {
	border: 1px solid;
	border-color: #fff;
	¨font-family: BebasNeueBold;
	background-color: #fff;
	user-select: none;
}

.ui-slider {
	position: relative;
	font-family: BebasNeueBold;
	text-align: left;
	user-select: none;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	font-family: BebasNeueBold;
	height: 1.2em;
	cursor: default;
	user-select: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	font-family: BebasNeueBold;
	display: block;
	border: 0;
	background-position: 0 0;
	user-select: none;
}